extends layout

block content
  h1= title

  p= post.title.split('.')[0]
  p= post.content

  a(href=`/p/${post.title}/update`) update 
  button(type="button" onclick=`deletePost("${post.title}")`) Delete

  script.

    function deletePost(postId) {
      let res = confirm("Y/N");

      if (!res) {
        return console.log(postId)
      }

      fetch(`/p/${postId}/delete`, {
        method: 'POST'
      })
      .then(res => {
        if (!res.ok) {
          throw res;
        }
        return res.json();
      })
      .then(data => location.replace('/'))
      .catch(error => {
        alert("Error!")
      })
    }




